$amatic: "Amatic SC", cursive;
$montserrat: "Montserrat", sans-serif;
$play: "Play", sans-serif;
$poiret: "Poiret One", cursive;
$rajdhani: "Rajdhani", sans-serif;
$raleway: "Raleway", sans-serif;
$rubik: "Rubik", sans-serif;
